a{
    color: black !important;
}
/* NAVBAR */
.brand-logo{
    font-family: 'Grand Hotel', cursive;
    margin-left: 30px;
}
.brand-icon{
    width:50px;
    height:50px;
    margin-top:7px;
}

/* LOGIN & SIGNUP */
.auth-icon{
    width:150px;
    height:150px;
}
.auth-card{
    margin: 120px auto;
    padding: 10px 20px;
    text-align: center;
    max-width: 400px;
}
.card-icon{
    display:flex;
    flex-direction:row;
    margin-bottom: 30px;
}
.card-icon h2{
    font-family: 'Grand Hotel', cursive;
}
.auth-btn{
    margin-top:30px;
}
.input-field input[type=text][type=password]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

/* PROFILE */
.item{
    width: 32%;
    margin: 5px;
}
@media(max-width: 600px){
    .item{
        margin: 2px;
    }
}

/* HOME */
.home-card{
    max-width: 600px;
    height: max-content;
    margin: 26px auto;
}

/* CreatePost */
.createPostHeader{
    font-family: 'Grand Hotel', cursive;
}


#toast-container{
    top: 70px !important;
    right: 20px !important;
    left: auto !important;
}

.material-icons:hover{
    cursor: pointer;
}