a{
    color: black !important;
}
/* NAVBAR */
.brand-logo{
    font-family: 'Grand Hotel', cursive;
    margin-left: 30px;
}

/* LOGIN & SIGNUP */
.auth-card{
    margin: 200px auto;
    padding: 10px 20px;
    text-align: center;
    max-width: 400px;
}
.auth-card h2{
    font-family: 'Grand Hotel', cursive;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(8, 93, 252) !important;
    box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

/* PROFILE */
.item{
    width: 32%;
    margin: 5px;
}
@media(max-width: 600px){
    .item{
        margin: 2px;
    }
}

/* HOME */
.home-card{
    max-width: 600px;
    height: max-content;
    margin: 26px auto;
}

/* CreatePost */
.createPostHeader{
    font-family: 'Grand Hotel', cursive;
}